<h1>Movie List</h1>

<%= link_to 'Add New Movie', new_movie_path %>

<table>
    <tr>
        <th>Title</th>
        <th>Text</th>
    </tr>


    <% @movies.each do |movie| %>
        <tr>
            <td><%= movie.title %></td>
            <td><%= movie.information %></td>
            <td><%= link_to 'Show', movie_path(movie) %></td>
        </tr>
    <% end %>
</table>